header nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    right: 0;
    left: 0;
    z-index: 99;
    padding: 0 30px;
}

.nav-icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-icons-container img:hover{
    cursor: pointer;
}

form {
    display: flex;
    align-items: center;
    gap: 20px;
}

form input {
    width: 0;
    opacity: 0;
    border-radius: 4px;
    transition: all ease 0.4s;
    background-color: inherit;
    color: #FFFFFF;
    padding: 5px;
    border: 1px #FFFFFF solid;
}

.display {
    opacity: 1;
    width: 200px;
}

.search-button {
    background: transparent;
    border: none;
}

.hero-banner {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.hero-banner::before {
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    height: 50vh;
    background: linear-gradient(to top, rgb(20, 20, 20) 30%, transparent 100%);
}

.hero-banner::after {
    position: absolute;
    bottom: 0;
    content: '';
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(20, 20, 20, 0.9) 30%, transparent 100%);
}

article {
    padding-top: 30vh;
    padding-left: 30px;
    width: 100%;
    max-width: 650px;
    z-index: 8;
    position: inherit;
}

article span {
    margin-right: 30px;
    font-size: 25px;
    font-weight: bold;
}

article h1 {
    margin-bottom: 15px;
    font-size: 50px;
    text-shadow: 2px 2px 5px rgb(14 14 14 / 70%);
}

article p {
    margin-top: 10px;
    font-size: 20px;
    text-shadow: 2px 2px 5px rgb(14 14 14 / 70%);
    color: rgb(211, 211, 211);
}

article button {
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    transition: all ease 0.3s;
    display: flex;
    align-items: center;
}

article button img {
    width: 25px;
    margin-right: 10px;
}

.header-buttons-container {
    display: flex;
}

.watchgButton {
    background: rgb(255, 255, 255);
    color: #141414;
}

.moreInfoButton {
    background: #b3b3b39e;
    color: #FFFFFF;
}

.watchgButton:hover {
    background: rgba(255, 255, 255, 0.6);
}

.moreInfoButton:hover {
    background: rgba(124, 124, 124, 0.6);
}

@media(max-width: 700px) {
    article {
        padding-top: 35vh;
        padding-right: 30px;
    }
    article h1 {
        font-size: 30px;
    }
    article span, article p {
        font-size: 15px;
    }
    article button {
        padding: 10px 20px;
        margin: 10px 10px 0 0;
        font-size: 15px;
    }
    form input {
        width: 200px;
        opacity: 1;
    }
    form button {
        display: none;
    }
    .nav-icons-container img {
        display: none;
    }
}

@media(max-width: 470px) {
    article button {
        padding: 5px 7px;
        margin: 10px 5px 0 0;
    }
    article button img {
        width: 10px;
    }
    form input {
        width: 130px;
    }
}